<head>
    <link rel="stylesheet" href="projects.component.css">
</head>
<div class="pageContent d-flex flex-column">
    <div class="portfolio">
        <h1 class="text-black">Portfolio</h1>
    </div>
    <div class="cards d-flex flex-wrap justify-content-around align-items-center flex-fill">
        <div style="width:26%;height:26%"
        class="card bg-secondary d-flex justify-content-center align-items-center text-white">
            <h2>WEB DESIGN</h2>
        </div>
        <div style="width:26%;height:26%"
        class="card bg-secondary d-flex justify-content-center align-items-center text-white">
            <h2>WEB DESIGN</h2>
        </div>
        <div style="width:26%;height:26%"
        class="card bg-secondary d-flex justify-content-center align-items-center text-white">
            <h2>WEB DESIGN</h2>
        </div>
        <div style="width:26%;height:26%"
        class="card bg-secondary d-flex justify-content-center align-items-center text-white">
            <h2>WEB DESIGN</h2>
        </div>
        <div style="width:26%;height:26%"
        class="card bg-secondary d-flex justify-content-center align-items-center text-white">
            <h2>WEB DESIGN</h2>
        </div>
        <div style="width:26%;height:26%"
        class="card bg-secondary d-flex justify-content-center align-items-center text-white">
            <h2>WEB DESIGN</h2>
        </div>
        

    </div>
</div>