<head>
    <link rel="stylesheet" href="footer.component.css">
</head>
<div class="footer container-fluid bg-black text-white">
    <div class="row">
        <div class="col leftside">
            <div>
                <h2>GET IN TOUCH</h2>
            </div>
            <table>
                <tr>
                    <th class="p-1">
                        <i class="fa fa-folder-o"></i>
                    </th>
                    <th class="p-1">
                        {{email}}
                    </th>
                </tr>
                <tr>
                    <th class="p-1">
                        <i class="fa fa-phone"></i>
                    </th>
                    <th class="p-1">
                        {{phone}}
                    </th>
                </tr>
            </table>
        </div>
        <div class="col middleside text-center d-flex align-items-center justify-content-center">
            <span class="border border-light p-2 w-50">CONTACT ME</span>
        </div>
        <div class="col rightside d-flex align-items-center justify-content-end">
            <div class="icons w-25 d-flex align-items-center justify-content-between">
                <a class="fa fa-linkedin-square fa-lg"></a>
                <a class="fa fa-facebook fa-lg"></a>
                <a class="fa fa-twitter fa-lg"></a>
            </div>
        </div>
    </div>
</div>