<head>
    <link rel="stylesheet" href="hero.component.css">
</head>

<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 custom-col text-white">
                <h1 class="display-3">Seif Sallam</h1>
                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur nulla eveniet dicta iusto sequi culpa delectus debitis expedita, cupiditate, et ipsam! Debitis labore iure voluptatibus laboriosam non quasi sequi explicabo?</p>
            </div>
        </div>
    </div>
</section>